<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DropAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1859AA241C746E4F00F7791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1859AA3D1C746E4F00F7791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1859AA481C746E4F00F7791A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
